html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /*margin-left: 4em;
  margin-right: 4em;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  }

  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top:1em;
}

#topbanner {
  color: white;
  background-color:  #afafaf;
  font-family: "Century Gothic", Helvetica, sans-serif;
  padding-top: .8em;
  padding-bottom: 1em;
  }

#topbanner h1 {
  font-size:
}

#about {
  float: right;
  color: black;
  background-color: white;
  font-size: 125%;
}

#about:hover, #about:focus {
  background-color: #E4E3D2;
}

#sankeyselect {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    padding: 2em;
    margin-bottom:2em;
    background-color: rgb(209, 226, 255);
  border-radius: 10% / 20%;

}


#sankey_basic {
  margin-bottom: 5em;
}